<h1>Olá Handlebars!</h1>
{{#if approved}}
    <p>Parabéns, o seu cadastro foi aprovado!</p>
{{else}}
    <p>O seu cadastro necessita de aprovação para acesso total do sistema!</p>
{{/if}}
<p>O nome do usuário é {{user.name}} {{user.surname}} e a idade é {{user.age}} anos!</p>
{{#if auth}}
    <p>Você está autenticado, <a href="/dashboard">clique aqui</a> para acessar a área de membros!</p>
{{/if}}