<h1>Cadastre o seu livro:</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite o título" />
    </div>
    <div class="form-control">
        <label for="pageqty">Número de páginas:</label>
        <input
            type="number"
            name="pageqty"
            placeholder="Quantas páginas o livro tem?"
        />
    </div>
    <input type="submit" value="Cadastrar" />
</form>