<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <p>Barra de navegação</p>
    </nav>
    {{{body}}}
    <footer>Rodapé</footer>
</body>
</html>