* {
    font-family: Helvetica;
    margin: 0;
}

#navbar {
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 1em;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}
#navbar ul li {
    margin-left: 1em;
}

h1 {
    text-align: center;
}
.form,
.books-container {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.form-control input {
    padding: 5px;
}

/* BOOKS */
.books-container div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}

/* BOOK */
#book-page {
    padding: 2em;
}

#book-page .container {
    text-align: center;
}

.actions {
    margin-top: 1em;
}
